body {
    background-color: #000;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    background-image: url(textura-gold.png);
    background-clip: text;
    color: transparent;
    font-size: 100px;
}